/* darwin styles */
fieldset,
section {
    border-radius: 5px;
}
select {
    -webkit-appearance: menulist;
}
button,
input[type="button"] {
    -webkit-appearance: button
}
textarea,
input:not([type="checkbox"]):not([type="radio"]):not([type="button"]) {
    -webkit-appearance: textfield;
}
