/* darwin styles */

body {
  color: #333333;
}

select {
  margin-top: 3px;
}

fieldset,
section {
  border-radius: 5px;
}

button {
  color: #333333;
  padding: 3px 8px;
  border-radius: 4px;
  background-color: #fcfcfc;
  border: 1px solid #ddd;
  border-color: #c2c0c2 #c2c0c2 #a19fa1;
  box-shadow: 0 1px 1px rgba(0,0,0,.06);
}

input:not([type="checkbox"]):not([type="radio"]),
textarea {
  color: #333333;
  background-color: #ffffff;
  border: 1px solid #00000030;
}

input:not([type="checkbox"]):not([type="radio"]):focus,
textarea:focus {
  outline-width: 2px;
  outline-offset: -2px;
}

/* Tabs */
.tab-buttons {
  background: #00000018;
  border-top: 1px solid #d0d0d0;
  justify-content: center;
}
.tab-buttons > * {
  border-radius: 6px;
  margin: .5rem;
}
.tab-buttons > :hover {
  background: rgba(0,0,0,.2);
}
.tab-buttons > .active {
  background: rgba(0,0,0,.38);
  color: #ffffff;
}
.tab-content {
  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
}

/* Hacks */
#preferences .tab-buttons {
  border-top: 0;
}
