/* darwin styles */
body {
  color: #333333;
}
.dark body {
  color: #dddddd;
}

.dark a {
  color: Highlight;
}

select {
  margin-top: 3px;
}

fieldset,
section {
  border-radius: 5px;
}

.dark input:not([type="checkbox"]):not([type="radio"]),
.dark textarea {
  color: ButtonText;
  background-color: #ffffff10;
  border: 1px solid #ffffff20;
}

/* Tabs */
.tab-buttons {
  background: #00000010;
  border-top: 1px solid #d1d1d1;
  justify-content: center;
}
.tab-buttons > * {
  border-radius: 6px;
  margin: .5rem;
}
.tab-buttons > :hover,
.tab-buttons > .active {
  background: rgba(0,0,0,.2);
  background: ThreeDFace;
  color: ButtonFace;
}
.tab-buttons > .active {
  background: WindowFrame
}
.tab-content {
  border-top: 1px solid #d1d1d1;
  border-bottom: 1px solid #d1d1d1;
}

.dark .tab-buttons {
  border-top: 1px solid #ffffff20;
}
.dark .tab-content {
  border-top: 1px solid #ffffff20;
  border-bottom: 1px solid #ffffff20;
}

/* Hacks */
#preferences .tab-buttons {
  border-top: 0;
}
