/* win32 stles */

/* Input, Textarea, Select */
input:not([type="checkbox"]):not([type="radio"]),
select,
textarea {
  border-radius: 0;
  border: 2px solid WindowFrame;
  background: Window;
  padding: .3em .6em;
}
button {
  border-radius: 0;
  border: 2px solid ButtonFace;
  background: ButtonFace;
  padding: .4em 1em;
}
input:not([type="checkbox"]):not([type="radio"]):focus,
select:focus,
button:focus,
button:active,
textarea:focus {
  border-color: #0078d4;
  outline: none;
  box-shadow: none;
}

/* Tabs */
.tabs {
  margin: 1rem;
}
.tab-buttons > :not(.active):hover {
  outline: 1px solid ThreeDFace;
}
.tab-buttons > .active {
  background: #0078d4;
  color: Window;
}
.tab-content {
  border: 1px solid ThreeDFace;
  background: Window;
}

/* Hacks */
#preferences .tabs {
  margin: 1rem 0 0 0;
  border-left: 0;
  border-right: 0;
}
