/* win32 stles */

/* Input, Textarea, Select */
input:not([type="checkbox"]):not([type="radio"]),
select,
textarea {
  border: 2px solid #aaa;
  background: #fff;
  padding: 3px 6px;
}
input:not([type="checkbox"]):not([type="radio"]):focus,
select:focus,
textarea:focus {
    border-color: blue;
    outline: none;
    box-shadow: none;
}

/* Buttons */
button {
    border: 2px solid #cecece;
    background: #cecece;
    padding: 3px 6px;
}
button:focus,
button:active {
    outline: none;
    box-shadow: none;
    border-color: blue;
}