{
    "htmlWhitespaceSensitivity": "ignore",
    "printWidth": 120,
    "singleQuote": true,
    "useTabs": false,
    "proseWrap": "always",
    "trailingComma": "es5",
    "endOfLine": "lf",
    "tabWidth": 4,
    "arrowParens": "always",
    "semi": true,
    "bracketSpacing": true
}
